<div class="d-flex">
  <div>
  <%= link_to user_path(comment.user), class:"text-decoration-none" do %>
    <p id="comment-black"><%= comment.user.username %></p>
    <% end %>
  </div>
  <div>
   <p id="comment-grey"><%= comment.content %></p>
  </div>
</div>
