.log-in-form {
  // margin: 10px 80px;
  padding:10px 0;
}

.log-in-btn {
  padding-top: 10px;
  padding-bottom: 20px;
}

.devise-content-container {
  margin: 10px 80px;
}

.devise-title {
  text-align: center;
  font-size: 30px;
  padding: 20px;
}
