.notification {
  width: 100%;
  padding: 10px 0;
}

.title {
  margin: 20px 0;
  font-weight:bold
}

.noti-bold {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.notification-container {
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #cac4c4;
}

.notification-container-noline {
  padding-top: 10px;
  padding-bottom: 20px;
}
