.posts {
  margin: 20px;
  text-align: center;
}

.user-info {
  display: flex;
  align-items: center;
  // justify-content: center;
}

.post-img {
  width: 100%;
}

.post {
  display: inline-block;
}

.bold-font {
  font-weight: bold;
}

.postindex-container {
  flex-grow: 1;
  margin: 10px 20px;
}
