
<div class="notification">
  <% if following == "Someone" %>
    <span class="noti-bold">Someone</span>
  <% else %>
    <%= link_to user_path(following), class:"text-decoration-none" do %>
      <span class="noti-bold"><%= following.username %></span>
    <% end %>
  <% end %>
  followed you</span>

</div>
