  <div class="container">
    <h6>Notifications</h6>
    <%# <%= turbo_stream_from "notifications_#{user.id}" %>
    <%# <%= turbo_frame_tag "notifications_#{user.id}" do %>
      <% @notifications.each do |notification| %>
      <% if notification.type == "CommentNotification" %>
        <%= render "notifications/comment",
                    user: notification.to_notification.creator,
                    post: notification.to_notification.post,
                    unread: notification.unread? %>
      <% elsif notification.type == "LikeNotification" %>
        <%= render "notifications/like",
                    user: notification.to_notification.creator,
                    post: notification.to_notification.post,
                    unread: notification.unread? %>
        <% end %>
      <% end %>
    <%# <% end %>
  </div>
