  <div class="header-container">
    <div class="header">
      <%= link_to root_path do%>
        <h1><i class="fa-brands fa-wpexplorer" style="color: #165eda;"></i>
          InstaExpore</h1>
      <% end %>
    </div>
  </div>
