<div class="follow-info-container">
  <%= link_to user_path(user), class:"user-info-black" do %>
    <% if user.avatar.key.nil? %>
      <%= cl_image_tag("2h4bwphyx2eqvlg6mtkkai2tnt4q", class:"avatar-medium", alt:"Avatar") %>
    <% else %>
      <%= cl_image_tag user.avatar.key, class:"avatar-medium", alt:"Avatar" %>
    <% end %>
  <div class="follow-small-info-container">
      <h4><%= user.username%></h4>
    <% end %>
  </div>
</div>
