<div class="follow-info-container">
      <%= link_to user_path(user), class:"user-info-black" do %>
      <div>
        <% if user.avatar.key.nil? %>
          <%= cl_image_tag("166z4p5m09mvswlb7a6hxhbasosu", class:"avatar-medium", alt:"Avatar") %>
        <% else %>
          <%= cl_image_tag user.avatar.key, class:"avatar-medium", alt:"Avatar" %>
        <% end %>
      </div>
      <div class="follow-small-info-container">
        <div>
          <h4><%= user.username%></h4>
        </div>
        <% end %>
      </div>
    </div>
