<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= link_to post_path(post) do %>
    <% post.images.each do |image| %>
      <%= cl_image_tag image.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  <% end %>
  <li><%= post.title %></li>
  <% end %>
</div>
