.alert {
  position: fixed;
  bottom: 54px;
  right: 10px;
  z-index: 1000;
  display: none;
}

.alert-info {
  background-color: #165eda;
  color:white;
  border-radius: 5px;
}

.btn-close {
  color:white;
}
