.transparent {
  background-color: white;
  border: none;
}

.btn-blue {
  background-color: white;
  color: #165eda;
  border: 1px solid #165eda;
  border-radius: 5px;
  padding: 5px;
}

.btn-blue-with-margin {
  background-color: white;
  color: #165eda;
  border: 1px solid #165eda;
  border-radius: 5px;
  padding: 5px;
  margin: 10px auto;
}
