.footer-container {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer {
  background-color: rgb(255, 255, 255);
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  border-top: lightgrey solid 1px;
}

.icon {
  color: #165eda;
  font-size: 18px;
}
