// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


body {
  background-color: white;
}

.application-container {
  max-width: 1000px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

.container{
  // max-width: 1000px;
  margin: 10px auto;
}
.navbar{
  border-bottom: 1px solid rgba(0,0,0,.0975);
}

.user-section{
  display:flex;
  align-items: center;
  justify-content: space-between;
  a{
    padding-left: 15px;
  }
  i.fa{
    font-size: 28px;
    color: #000000d4;
  }
}
.search-form{
  input{
    font-size: 13px;
    text-align: center;
  }
}

  p{
    color: #999;
  }

  .user-tabs{
    border-top: 1px solid #efefef;

  a.tab{
      height: 35px;
      line-height: 45px;
      color: #999;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      text-decoration: none;
      i{
        padding-right: 1px;
      }
    }
    a.active{
      color: #262626;
    }
  }
